@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    text-align: center;
    
    /* Clouds Background */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 182, 193, 0.8)),
                url('https://www.baltana.com/files/wallpapers-25/Anime-Clouds-Wallpaper-1920x1080-64318.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* for scrolling*/
}

.contact-header {
    font-size: 14px;
    color: rgb(260, 260, 260);
    text-align: left;
    background-color: #c3687d;
    padding: 1px;
}

header {
    text-align: center;
    padding: 20px 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #c3687d;
    border-style: groove;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-top: 10px;
    font-size: 35px;
    color: #c3687d;
    background-color: rgb(235, 209, 223);
    margin: 10px auto;
    padding: 5px;
    border-radius: 9px;
    border-style:solid;
    border-color: #c3687d;

}

#about {
    background-color: rgb(235, 209, 223);
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 15px;
    border-style:solid;
    border-color: #c3687d;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sections-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.left-column, .right-column {
    width: 45%;
}


.section {
    background-color: rgb(235, 209, 223);
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-style:double;
    border-color: #c3687d;
    transition: background 0.5s ease-in-out;
}

.section:hover {
    background-color: #f8d7da;
}

h2 {
    color: #c3687d;
    font-size: 22px;
    border-bottom: 2px solid #c3687d;
    padding-bottom: 5px;
}

.section-content {
    display: none;
    padding-top: 10px;
}

.active .section-content {
    display: block;
}


button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.hidden {
    display: none;
}

.visible {
    display: inline-block;
    margin-left: 10px;
}


.project-img {
    width: 100px; 
    height: auto; 
    display: block;
    margin: 10px auto; 
    border-radius: 8px; 
}

.certification-img {
    width: 59%; 
    max-width: 200; 
    height: auto; 
    display: block;
    margin: 10px auto; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sections-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .left-column, .right-column {
        width: 90%;
    }
}
